{% extends "base.html" %}

{% block content %}
<div class="container mb-3">
    <h2 class="d-flex justify-content-center">Make A Reservation</h1>
        <p class="text-center pt-3">
            We are open 7 days a week serving from 12pm to 10pm!<br>
            Our standardtables seat parties of up to 6 people.<br>

            Bookings for bigger groups have to be done through the from on the <strong>Contact Us</strong> section of the website!
        </p>
</div>
<div class="mx-auto form-group mt-2">

    <form action="{% url 'reservations' %}" method="post">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <div class="mt-3 d-flex justify-content-center">
            <input type="submit" value="Submit">
        </div>
    </form>
</div>
{% endblock %}