{% extends "base.html" %}

{% load static %}

{% block content %}

<div class="container mb-3">
    <h2 class="d-flex justify-content-center">Edit or delete your reservation!</h1>
</div>


<ul>
    <!-- Iterate over reservations list -->
    {% for reservation in reservations %}

    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{% static 'images/restuarant.jpg' %}" alt="Card restuarant image">
        <div class="card-body">
            <ul>
                <li>{{ reservation.name | capfirst }}</li>
                <li>{{ reservation.phone_number }}</li>
                <li>{{ reservation.email }}</li>
                <li>{{ reservation.date }}</li>
                <li>{{ reservation.time }}</li>
                <li>{{ reservation.number_of_party }}</li>
            </ul>
        </div>
    </div>
    
    <button href="#" type="button" class="btn btn-dark">Edit</a> 
    <button href="#" type="button" class="btn btn-dark">Delete</a>
    
    <!-- If they haven't made a reservation  -->
    {% empty %}
    <div class="container-fluid d-flex justify-content-center">
        <div class="row mt-5 card bg-dark text-white">
            <p id="p-big-text">No Reservation have been made<br> To make a <strong>Reservation</strong> click <a
                    href="{% url 'reservations' %}">Here!</a></p>
        </div>
    </div>
    {% endfor %}
</ul>

{% endblock %} -->