{% extends "base.html" %}

{% block content %}
<!-- bootstrap card telling you your reservation is complete -->
<div class="card text-center mt-5">
    <div class="card-header">

    </div>
    <div class="card-body">
        <h5 class="card-title">Reservation Complete</h5>
        <p class="card-text">Thank you for making a reservation.<br>To view, edit or delete your reservation,<br>Please go <a href="{% url 'reservations_account' %}">Here!</a></p>
        <!-- anchor tag button to bring the user back to homepage -->
        <a href="{% url 'index' %}" class="btn btn-dark">HOME</a>
    </div>
    <div class="card-footer text-muted">

    </div>
</div>

{% endblock %}