{% extends "base.html" %}

{% load static %}

{% block content %}

<div class="container mb-3">
    <h2 class="d-flex justify-content-center">Edit or delete your reservation!</h1>
</div>


<ul>
    <!-- Iterate over reservations list -->
    {% for reservation in reservations %}

    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{% static 'images/restuarant.jpg' %}" alt="Card restuarant image">
        <div class="card-body">
            <ul>
                <li>{{ reservation.name | capfirst }}</li>
                <li>{{ reservation.phone_number }}</li>
                <li>{{ reservation.email }}</li>
                <li>{{ reservation.date }}</li>
                <li>{{ reservation.time }}</li>
                <li>{{ reservation.number_of_party }}</li>
            </ul>
        </div>
    </div>
    <a href="{% url 'edit_reservation' %}" type="button" class="btn btn-dark">Edit</a>
    <a href="{% url 'delete_reservation' %}" type="button" class="btn btn-dark">Delete</a>
    <hr />
    <!-- If object_list is empty  -->
    {% empty %}
    <li>No Reservation have been made</li>
    {% endfor %}
</ul>
<!-- div class="mx-auto form-group mt-2">

    <form action="{% url 'reservations' %}" method="post">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <div class="mt-3 d-flex justify-content-center">
            <button class="btn btn-dark" type="button" value="Edit">Edit</button>
        </div>
        <div class="mt-3 d-flex justify-content-center">
            <button class="btn btn-dark" type="button" value="Delete">Delete</button>
        </div>
    </form>
</div>
{% endblock %} -->