@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto+Slab:wght@500&display=swap');

body {
    margin: 0;
    font-family: 'Roboto Slab', Verdana, Geneva, Tahoma, sans-serif;
}

form, table{
    padding: 10px;
}

h1 {
    font-size: 3em;
}

h2 {
    font-family: 'Montserrat', Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 2em;
}

#msg {
    background-color: coral;
    border-radius: 2px;
}