@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto+Slab:wght@500&display=swap');

body {
    margin: 0;
    font-family: 'Roboto Slab', Verdana, Geneva, Tahoma, sans-serif;
    background-color: #FFEEDB;
}


/* ---------------------- css for site logo: Jack's Bistro */

#logo {
    font-size: 4em;
    color: #FFEEDB;
    text-shadow: .1em .1em 0 hsl(200 50% 30%);
}

h2 {
    font-family: 'Montserrat', Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 3em;
    margin-top: 1em;
}

#p-big-text {
    font-size: 2em;
}

#msg {
    border-radius: 2px;
}

/* ---------------------- css for navbars */

nav,
ul,
li {
    font-size: 1.1em;
}

#nav-1 {
    color: #FFEEDB;
}

#navbar-color {
    background-color: #020202;
    color: #FFEEDB;
    text-decoration: none;
}

#navbar-color2 {
    background-color: #0D324D;
    color: #FFEEDB;
}

/* ---------------------- css for footer */

#sticky-footer {
    background-color: #0D324D;
    margin-top: 2em;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
    body {
        font-size: 1.2em;
    }

    img {
        width: 100vw;
    }

    .home-text {
        width: 100%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}