{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--jquery cdn-->
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
    <!-- Bootstrap cdn-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">


    <title>Jack's Bistro</title>
</head>

<body class="d-flex flex-column h-100 main-bg">

    <!-- first navbar css and bootstrap-->
    <nav class="navbar navbar-expand-lg navbar-light" id="navbar-color">
        <h1 class="text-left font-weight-bold container-fluid" id="logo">Jack's Bistro</h1>
        <div class="container-fluid">
            <a class="navbar-brand" href="/"></a>
            <ul class="navbar-nav ml-auto mb-lg-0">

                <!-- for loop to authenticate user and show links based on authentication-->
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" id="nav-1" href="{% url 'reservations_account' %}">Account</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="nav-1" href="{% url 'account_logout' %}">Logout</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" id="nav-1" href="{% url 'account_signup' %}">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="nav-1" href="{% url 'account_login' %}">Login</a>
                </li>
                {% endif %}
            </ul>
        </div>

        <!-- second navbar html and bootstrap -->
    </nav>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg justify-content-center" id="navbar-color2">
            <ul class="navbar-nav mr-auto" id="nav-1">
                <li class="nav-item active">
                    <a class="nav-link" id="nav-1" href="{% url 'index' %}">Home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" id="nav-1" href="{% url 'reservations' %}">Reservations</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" id="nav-1" href="{% url 'menu' %}">Menu</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" id="nav-1" href="{% url 'contact' %}"> Contact Us</a>
                </li>
            </ul>
        </nav>

        <!-- login and logout messages -->
        <div class="container">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    {% for message in messages %}

                    <div class="alert {{ message.tags }} alert-warning alert-dismissible alert-light fade show" role="alert">
                        {{ message | safe }}
                        <button type="button" class="btn-close" data-bs-dimiss="alert" aria-label="Close"></button>
                    </div>

                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    {% block content %}

    {% endblock %}
    <!-- stick footer with bootstrap classes -->
    <footer id="sticky-footer" class="flex-shrink-0 py-4 text-white-50">
        <div class="container text-center">
            <small>Copyright &copy; Jack's Bistro</small>
        </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/1.0.10/datepicker.min.js" integrity="sha512-RCgrAvvoLpP7KVgTkTctrUdv7C6t7Un3p1iaoPr1++3pybCyCsCZZN7QEHMZTcJTmcJ7jzexTO+eFpHk4OCFAg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>


</html>