{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-8">
            <h2>About Us</h2>
            <p>Jack's Bistro is a family run business which started back in the early 2000s.
                Starting from humble beginnings it slowly grew over the years to be what it is today.
                Our philosophy has always been to use the freshest ingridents, especially those that are on our doorstep.
                When our head chef is not in the kitchen he can usually be found foraging around the local area for inspiration.
            </p>
        </div>
        <div class="col-4">
            *image here*
        </div>
    </div>
</div>

{% endblock %}