{% extends "base.html" %}

{% load static %}

{% block content %}

<!-- bootstrap container with abous us section for hompage inside-->
<div class="container-fluid">
    <div class="row">
        <div class="col-8 home-text">
            <h2 class="text-center">About Us</h2>
            <p class="p-5 mt-3">Jack's Bistro started as family run business back in the early 2000s.<br>
                Located on the south coast of Ireland we have endevoured to use all this beautiful country as to offer
                and source all our fish from local fisherman fishing irish waters!<br>
                Starting from humble beginnings it slowly grew over the years to be what it is today.
                Even though it is no longer a family run business the Crosbie family still have a key role in how the
                business is run and ensure their core beliefs and philosophies have been maintained.<br>
                Our philosophy has always been to use the freshest ingridents, especially those that are on our
                doorstep.
                When our head chef is not in the kitchen he can usually be found foraging around the local area for
                inspiration and ingridents.
            </p>
        </div>
        <div class="col-4">
            <!-- image showing south of ireland on homepage with bootstrap styling-->
            <img src="{% static 'images/southern-ireland.jpg' %}" class="img-thumbnail mt-5 d-none d-md-block" alt="south of Ireland.">
        </div>
        <div class="col-8 p-5 mt-3 home-text">
            <p> Our strive for excellent continues and we encourage honest and open feedback from all our customers.<br>
                Head over to <strong>Reservations</strong> section to make a booking or the <strong>Contact Us</strong>
                section to ask a question, make a special request or leave us some feedback!

            </p>
        </div>
        <div class="col-4">
            <!-- image showing some food from the restuarant with bootstrap styling-->
            <img src="{% static 'images/steak.jpg' %}" class="img-thumbnail d-none d-md-block" alt="steak and chips">
        </div>
    </div>
</div>

{% endblock %}