{% extends "base.html" %}

{% load static %}

{% block content %}

<div class="container-fluid bg-dark">
    <div class="col-12 d-flex justify-content-center">
        <img src="{% static 'images/menu_page-0001.jpg' %}" class="menu-images"
                        alt="menu page one">
    </div>
    <div class="col-12 d-flex justify-content-center">
        <img src="{% static 'images/menu_page-0002.jpg' %}" class="menu-images"
                        alt="menu page two">
    </div>
    <div class="col-12 d-flex justify-content-center">
        <img src="{% static 'images/menu_page-0003.jpg' %}" class="menu-images"
                        alt="menu page three">
    </div>
    <div class="col-12 d-flex justify-content-center">
        <img src="{% static 'images/menu_page-0004.jpg' %}" class="menu-images"
                        alt="menu page four">
    </div>
</div>

{% endblock %}